*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(211, 207, 207);
}
/*** formattazione header ***/
header{
    background-color: #dbe2d1;
    height: 8vh;
    text-align: center;
    line-height: 75px;
    
    }

    header > h1{
        font-family: 'Tangerine', cursive;
        font-size: 4.2rem;
        color:rgb(97, 62, 68);
    }
header > h1:hover{
    color:rgb(246, 27, 162);
    cursor:pointer;
}

.container{
    height: 800px;
    margin:50px;
    background-color: rgb(211, 219, 217);
    
}


.product{
    display:inline-block;
    margin:50px;
    position:relative;
    
}

.sconto, .sostenibile{
    position:absolute;
    bottom:0;
    top:100px;
