*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(167, 172, 177);
}
header{
    background-color: rgb(202, 193, 193);
    height: 10vh;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    font-family: cursive;
    letter-spacing: 2px;
}

.prodotti{
    background-color: rgb(251, 249, 247);
    width: 1200px;
    margin: 2rem auto;
    text-align: center;
}
.prodotto > img{
    box-shadow:  0 0  10px rgb(114, 114, 114);
}
.prodotto{
    display:inline-block;
    position:relative;
    margin: 1rem;
}

.rosso{
    position:absolute;
    bottom:0;
    left:0;
    background-color: red;
    color:white;
}

.verde{
    position:absolute;
    left:50px;
    bottom:0;
    background-color: green;
    color:white;
}

.cuore{
    position:absolute;
    top:0;
    right:0;
}
.cuore{
    visibility: hidden;
}

.prodotto:hover .cuore{
    visibility: visible;
}